<!DOCTYPE html>
<html>
<head>
    <title>SnipIt!</title>
    <link href="/static/styles/bootstrap.css" rel="stylesheet" media="screen">    
	<link type="text/css" rel="stylesheet" href="/static/styles/shCoreDefault.css"/>
    <style>
        textarea{width:90%; height:700px;}
        div.syntaxhighlighter{width:90%;}
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">SnipIt!</a>
        </div>
    </div>
    {% block content %}{% end %}
</body>
</html>